body {
  font-family: "Calibri", "sans-serif";
  color: black;
/*  border: 2px solid teal;*/
}

h1.title {
  text-align: center;
  /*border: 2px solid blue;*/
  color: navy;
  text-decoration: underline;
}

div.welcomeTxt {
  font-family: "Bookman Old Style", "Calibri", "sans-serif";
  width: 350px;
  margin-left: 150px;
  position: absolute;
  margin-top: 150px;  
}

p.homePageTxt {
  margin-left: 100px;
}

div.login {
  font-family: "Cascadia Code", "Calibri", "sans-serif";
  position: absolute;
  color: gray;
  width: 400px;
  margin-left: 475px;
  margin-top: -120px;
}

h3.login {
  color: maroon;
  text-align: center;
}

.vl {
  border-left: 6px solid slategray;
  height: 200px;
  position: absolute;
  margin-left: 400px;
  margin-top: -120px;
  width: 3px;
}

input.login {
  color: green;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  /*margin-left: 60px;
  position: relative;*/
}

input.reset {
  color: red;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  /*position: relative;
  margin-left: -10px;*/
}

form.loginForm {
  border: 3px solid #ccccff;
  border: 1px solid slategray;
}

div.menu ul li {
  font-family: "Lucida Bright", "Trebuchet MS", "Sans-Serif";
  color: green;
  list-style-type: none;
  float: left;
  padding: 5px;
  margin-left: 75px;
}

div.clear {
  clear: left;
}

p.profilePageText {
  /*margin-left: 75px;*/
  text-align: center;
}

span.message {
  color: blue;
  font-family: "Bookman Old Style", "Calibri", "sans-serif";
}

span.errMsg {
  color: red;
  font-family: "Bookman Old Style", "Calibri", "sans-serif";
}

table.profileData {
  border: 1px solid slategray;
  font-family: "Cascadia Code", "Calibri", "sans-serif";
  color: black;
  width: 400px;
}

table.profileData td {
  padding: 10px;
}

table.profileDataLeft {
    margin-left: 75px;
}

table.profileDataRight {
    float: left;
    margin-left: 500px;
    margin-top: -205px;
}

table.versionHistory {
  border: 1px solid green;
  font-family: "Cascadia Code", "Calibri", "sans-serif";
  color: black;
  width: 700px;
  margin-left: 75px;
}

table.versionHistory td {
  padding: 10px;
  border: 1px solid slategray;
}

.profilePic {
  float: left;
  margin-left: 950px;
  margin-top: -225px;
  border: 2px solid black;
}
